

/*---------- Drive SDK SPECIFIC CSS ------------*/
.sdk-home-links a h3 {
  display: block;
  background-color:#f5f5f8;
  padding: 14px;
  text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

/*
  Need to test on IE
h2 {
  background-image: url(/assets/anki/code.gif);
  background-repeat: repeat-x;
  background-size: auto 10px;
  margin-bottom: 50px;
  background-position-y: 0px;
  padding-top: 20px;
}
*/

